<nav class="navbar fixed-bottom bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://guides.rubyonrails.org">Find some info at <b><em>guides.rubyonrails.org</em></b>. Currently in development</a>
  </div>
</nav>